* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header {
    padding: 15px 0px 0px 0px;
    text-align: center;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 30px;
    height: 60px;
  }

  .Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 22px;
    padding-left: 1500px;
  }

  .Text{
      font-size: 24px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
  }

  .ActionButton{
    background-color: #f4511e;
    border: none;
    color: white;
    /* padding: 16px 32px; */
    text-align: center;
    font-size: 16px;
    /* margin: 4px 2px; */
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    width: 120px;
  }

  .ActionButton:hover {opacity: 1}

  .ActionContainer{
      text-align: center;
      padding: 20px;
      margin: 20px;
  }

  input[type=text], select, textarea {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }